.background{
    background-image: url(./background.jpg);
    height: 550px;
    padding: 250px;
}

.titleCont{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.555);
    padding: 25px;
    border-radius: 15px;
}

@media only screen and (max-width: 1270px) {
    .background {
      padding: 200px;
    }
  }

@media only screen and (max-width: 940px) {
    .background {
      padding: 175px;
    }
  }

.title{
    font-size: 70px;
    font-family: 'Righteous', cursive;

}
@media only screen and (max-width: 890px) {
    .title {
      font-size: 50px;
    }
    h4 {
      font-size: 16px;
    }
    .navItem {
        padding: 5px;
    }
  }

@media only screen and (max-width: 600px) {
    .title {
        font-size: 36px;
    }   
  }